body{
    font-family: sans-serif;
    font-size: 14px;
    background-size:cover ;
}
.item{
    background-color: #00000040;
    height: 400px;
}
.item h3{
    font-size: 0.9rem;
}

.item img{
    transform: translate(40px, 7px);
}

img{
    width: 200px;
    height: auto;
}

